body {
    background-color: black;
    /* justify-content: center; */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;

}

.container {
    width: 450px;
    height: 560px;
    border: 1px solid #9e9b97;
    box-shadow: 1px 5px 15px 4px #89847e;
    border-radius: 20px;
    margin-top: 230px;
    position: fixed;
}

h1 {
    /* border: 2px solid red; */
    color: white;
    height: 0;
    width: 0;

    display: flex;
    justify-content: center;
    font-size: 50px;
    margin-top: 50px;
    /* margin-left: 100px; */
}

.calculation-box {
    height: 60px;
    width: 370px;
    border: 1px solid #7c877f;
    background: lightslategray;
    margin: 40px 40px;
    border-radius: 6px;
}

.container-fluid {
    /* border: 2px solid red; */
    justify-items: center;
    margin-top: 50px;
}

.main-screen {
    font-size: 28px;
    padding: 10px;
    color: white;
    text-align: right;
    overflow-x: auto;
}


button {
    margin: 5px;
    padding: 3px 10px;
    width: 70px;
    height: 60px;
    border: none;
    box-shadow: 1px 2px #666;
    font-size: larger;
}

button:focus {
    outline: 0 !important;
}

button:active {
    box-shadow: none;
    transform: translateY(4px);
}

.btn-zero {
    width: 154px;
    margin-right: 7px;
}

.btn-equal {
    position: absolute;
    margin-left: 10px;
    height: 130px;
}

#btn-button1 {
    margin-left: -85px;
}

@media (max-width: 430px) {
    .container {
        width: 400px;
        margin-top: 150px;
    }

    .calculation-box {
        width: 350px;
        margin-left: 24px;
        background: black;
        border: none;

    }

    button {
        border-radius: 20px;
    }
}


@media (max-width: 425px) {
    .container {
        width: 400px;
        margin-top: 150px;
    }

    .calculation-box {
        width: 350px;
        margin-left: 24px;
        background: black;
        border: none;

    }

    button {
        border-radius: 20px;
    }
}

@media (max-width: 401px) {
    .container {
        width: 380px;
    }

    .calculation-box {
        width: 350px;
        margin-left: 24px;
        background: black;
        border: none;

    }

    button {
        border-radius: 20px;
    }
}

@media (max-width: 375px) {
    .container {
        width: 350px;
    }

    .calculation-box {
        width: 300px;
        margin-left: 24px;
        border: none;
        border-radius: 20px;
        background: black;
    }

    button {
        border-radius: 20px;
    }
}

@media (max-width: 320px) {
    .container {
        width: 300px;
    }

    .calculation-box {
        width: 250px;
        margin-left: 24px;
        border-radius: 20px;

    }

    button {
        border-radius: 20px;
        width: 58px;
        height: 58px;
    }

    #btn-button1 {
        margin-left: -70px;

    }

    .btn-zero {
        width: 126px;
        height: 58px;
    }

    .btn-equal {
        height: 127px;
    }
}

@media (max-width: 300px) {
    .container {
        width: 280px;
    }

    .calculation-box {
        width: 250px;
        margin-left: 24px;
        border-radius: 20px;

    }

    button {
        border-radius: 20px;
        width: 55px;
        height: 55px;
    }

    #btn-button1 {
        margin-left: -70px;

    }

    .btn-zero {
        width: 120px;
        height: 55px;
    }

    .btn-equal {
        height: 123px;
    }
}