<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Calculator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <h1>Calculator</h1>
    <div class="container">
        <div class="calculation-box">
            <div class="main-screen" id="output">{{ display }}</div>
        </div>

        <form method="POST" class="container-fluid">
            <div class="buttons">
                <button name="btn" value="C" class="btn-clear btn btn-danger">C</button>
                <button name="btn" value="AC" class="btn btn-warning">AC</button>
                <button name="btn" value="/" class="btn-operate btn btn-default">/</button>
                <button name="btn" value="*" class="btn-operate btn btn-default">x</button>
            </div>

            <div class="buttons">
                <button name="btn" value="7" class="nums btn btn-default">7</button>
                <button name="btn" value="8" class="nums btn btn-default">8</button>
                <button name="btn" value="9" class="nums btn btn-default">9</button>
                <button name="btn" value="-" class="btn-operate btn btn-default">-</button>
            </div>

            <div class="buttons">
                <button name="btn" value="4" class="nums btn btn-default">4</button>
                <button name="btn" value="5" class="nums btn btn-default">5</button>
                <button name="btn" value="6" class="nums btn btn-default">6</button>
                <button name="btn" value="+" class="btn-operate btn btn-default">+</button>
            </div>

            <div class="buttons" id="btn-button1">
                <button name="btn" value="1" class="nums btn btn-default">1</button>
                <button name="btn" value="2" class="nums btn btn-default">2</button>
                <button name="btn" value="3" class="nums btn btn-default">3</button>
                <button name="btn" value="=" class="btn-equal btn btn-info" id="resultButton">=</button>
            </div>

            <div class="buttons" id="btn-button1">
                <button name="btn" value="0" class="nums btn-zero btn btn-default">0</button>
                <button name="btn" value="." class="nums btn btn-default">.</button>
            </div>
        </form>
    </div>
</body>

</html>